.container-three.col-lg-2.col-md-2.col-sm-3.col-xs-12.email.no-lr-padding
  %ul.list-group
    %li.list-group-item{role: "presentation"}
      %span.badge 1
      %a{href: inbox_path}
        .atom
          %span.icon
            %i.fa.fa-envelope-o
          %h6
            Inbox
    %li.list-group-item{role: "presentation"}
      %a{href: '#'}
        .atom
          %span.icon
            %i.fa.fa-sign-out
          %h6 Sent
    %li.list-group-item{role: "presentation"}
      %a{href: '#'}
        .atom
          %span.icon
            %i.fa.fa-trash-o
          %h6 Trash
