.panel.panel-default
  .panel-heading.date-box{"data-toggle" => "collapse", :href => "#collapse1"}
    %h5 First mail
    From: Bianca
    .message-date
      Date: Jan 19, 12:16
  #collapse1.panel-collapse.collapse
    .panel-body
      Hello

.panel.panel-default
  .panel-heading.date-box{"data-toggle" => "collapse", :href => "#collapse2"}
    %h5 Thread - new policy
    From: Bianca, User
    .message-date
      Date: Jan 17, 12:00
  #collapse2.panel-collapse.collapse
    .panel-body
      Hello all, this is ...
