%ul.nav.nav-pills
  - if user_signed_in?
    %li.active
      %a{:href => "#"} Mailbox
    %li
      %a{:href => "#"}
        = "You are currently signed in as: #{current_user.name}"
    %li
      %a{href: destroy_user_session_path, "data-method": :delete} Sign out
