%ul.nav.nav-pills
  - if user_signed_in?
    %li
      %a{href: root_path} Home
    %li
      %a{href: inbox_path} Mailbox
    %li
      %a{href: "#"}
        = "You are currently signed in as: #{current_user.name}"
    %li
      %a{href: destroy_user_session_path, "data-method": :delete} Sign out
